@font-face {
    font-family: "Buyan";
    font-style: normal;
    font-weight: 400;

    font-display: swap;
    src: url("../fonts/buyanregular.woff") format("woff");
}

@font-face {
    font-family: "Buyan";
    font-style: normal;
    font-weight: 700;

    font-display: swap;
    src: url("../fonts/buyanbold.woff") format("woff");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* .page {
    touch-action: none !important;
} */

.page__body {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;

    font-family: "Buyan", system-ui, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
}

.main-container {
    display: flex;
    flex-direction: column;

    max-width: 315px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-container__title {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;

    font-size: 32px;
    line-height: 28px;
    text-align: center;
}

.main-container__hint {
    margin: 0;
    margin-bottom: 40px;

    font-size: 20px;
    line-height: 16px;
    font-family: "Buyan", system-ui, sans-serif;
    font-weight: 100;
    text-align: center;
}

/* SERVICES STYLES */

.main-container__services {
    margin-bottom: 10px;
}

.services__list {
    display: flex;
    flex-direction: column;
}

.services__item-wrapper {
    display: flex;
    margin-bottom: 10px;
}

.services__item {
    display: flex;
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;

    background-color: var(--tg-theme-secondary-bg-color);
    border-radius: 10px;
}

.services__item:nth-child(2n) {
    flex-direction: row-reverse;
    margin-right: 0;
}


.services__item::before {
    content: "";
    display: block;
    flex-shrink: 0;
    margin-right: 10px;
    width: 50px;
    height: 50px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.services__item:nth-child(2n)::before {
    margin-right: 0;
    margin-left: 10px;
}


.services__item--projector::before {
    background-image: url(../img/icons/projector.png);
}

.services__item--karaoke::before {
    background-image: url(../img/icons/karaoke.png);
}

.services__item--acoustic-system::before {
    background-image: url(../img/icons/acoustic_system.png);
}


.services__item--dice::before {
    background-image: url(../img/icons/dice.png);
}

.services__item--hookah::before {
    background-image: url(../img/icons/hookah.png);
}

.services__item--projector--bench::before {
    background-image: url(../img/icons/bench.png);
}

.services__item--parking::before {
    background-image: url(../img/icons/parking.png);
}

.services__item--loud-music::before {
    background-image: url(../img/icons/loud_music.png);
}

.services__item--grill::before {
    background-image: url(../img/icons/grill.png);
}

.services__item--light-music::before {
    background-image: url(../img/icons/light_music.png);
}

.services__item--basketball::before {
    background-image: url(../img/icons/basketball.png);
}

.services__item--decor::before {
    background-image: url(../img/icons/decor.png);
}

.services__subtitle {
    display: flex;
    margin: 0;
    align-items: center;

    font-size: 16px;
    line-height: 18px;
}

.services__item:nth-child(2n) .services__subtitle {
    text-align: right;
}

.prices__list {
    margin-bottom: 35px;
}

.prices__item {
    padding: 15px;
    margin-bottom: 15px;

    background-color: var(--tg-theme-secondary-bg-color);
    border-radius: 20px;
}

.prices__subtitle {
    margin: 0;
    margin-bottom: 10px;

    font-size: 24px;
    line-height: 20px;
    text-align: center;
}

.prices__dates {
    margin: 0;
    margin-bottom: 10px;

    font-size: 20px;
    line-height: 18px;
    text-align: center;
}

.prices__price {
    display: block;

    font-size: 20px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
}

/* SCENARIOS STYLES */

.main-container__scenarios {
    margin-top: 80px;
    margin-bottom: 50px;
}

.scenarios__title {
    margin: 0;
    margin-right: auto;

    font-size: 24px;
    line-height: 20px;
    text-align: center;
}

.scenarios__img {
    width: 100%;
    height: auto;
    padding: 20px 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.scenarios__confirm {
    display: block;
    width: 100%;
    height: 45px;

    font-family: inherit;
    font-size: 18px;
    line-height: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;

    background-color: #1f5bff;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
}

.scenarios__confirm:hover {
    background-color: #0048b3;
}

.scenarios__confirm:active {
    background-color: #002b66;
}

.scenarios__confirm:disabled {
    opacity: 0.65;
    pointer-events: none;
}

/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/
